<!-- This file is controlled by puppet, and is placed here during a code deploy. -->

<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Environment value="<%= @environment %>" type="java.lang.String" name="deploymentEnvironment"/>
    <Environment value="<%= @environment %>" type="java.lang.String" name="spring.profiles.active"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordOBS"/>
    <Environment value="stroperbew" type="java.lang.String" name="DBPasswordCreon"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordCF"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordDLM"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordTT"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordEmail"/>
    <Environment value="matrix" type="java.lang.String" name="dataSourceEmailPassword"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordResponsys"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordOdsy"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordFollowUp"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordHealthyHome"/>
    <Environment value="matrix" type="java.lang.String" name="DBPasswordContent"/>
    <Environment value="email123" type="java.lang.String" name="dataSourceServ1_RemoteEmailPassword"/>
    <Environment value="true" type="java.lang.Boolen" name="activeBatchProcessor"/>

</Context>
